# Ignorer tous les dossiers node_modules, peu importe leur emplacement
**/node_modules/

# Ignorer tous les fichiers .env, peu importe leur emplacement
**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.test

# Ignorer les fichiers logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Ignorer les fichiers de build
**/dist/
**/build/

# Ignorer les fichiers dépendants de l'éditeur
**/.vscode/
**/.idea/
**/.DS_Store
