@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Supprime les flèches sur Chrome, Safari et Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Supprime les flèches sur Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
